:root {
    --primary-color: #1988C8;
    --accent-color: #1dd0ec;
    --secondary-color: #F77F50;
}

* {
    font-family: 'Lato', sans-serif;
}

body {
    padding: 1rem;
}

h1 {
    font-family: 'Noto Sans', 'Arial', sans-serif;
    font-size: 3rem;
}

.icon {
    width: 1.5em;
    height: 1.5em;
    vertical-align: -0.125em;
    padding: 10px;

    fill: var(--secondary-color);
}

#blogposts * {
    margin: 0;
}

#blogposts > * {
    margin-bottom: 1rem;
}

#blogposts > section {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-areas: 
        "title control"
        "date control"
        "summary control";

    padding: 1rem;

    box-shadow: 0 0 6px 0 rgba(118, 13, 210, 0.5);
    border: solid 4px transparent;
    border-radius: 0.5rem;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, var(--primary-color), var(--secondary-color));
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 2px 1000px 1px #fff inset;
}

#blogposts > section > section {
    grid-area: control;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#blogposts h1 {
    grid-area: title;

    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.3rem;
    text-transform: uppercase;
}

#blogposts h2 {
    grid-area: date;

    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.2rem;

    color: var(--primary-color);
}

#blogposts p {
    grid-area: summary;
}

#crud-dialog, #confirm-dialog {
    color: black;
    box-shadow: 0 0 6px 0 rgba(118, 13, 210, 0.5);
    border: solid 4px transparent;
    border-radius: 0.5rem;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #21bff9, #ff8b48);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 2px 1000px 1px #fff inset;
}

#crud-dialog > form {
    display: flex;
    flex-direction: column;
}

#crud-dialog > h1 {
    font-family: 'Source Sans Pro', 'Trebuchet', sans-serif;
    text-transform: uppercase;

    margin: 0;
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
}

#crud-dialog > form *:nth-last-child(2) {
    margin-bottom: 0.5rem;
}

#confirm-dialog > form {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}