:root {
    --primary-color: #1988C8;
    --accent-color: #1dd0ec;
    --secondary-color: #F77F50;

    --sidenav-link-focus-color: #fff;
    --sidenav-link-hover-color: #1cf7ff;

    --section-name-color: #093149;
    --section-break-color: #eaf4fa;

    --icon-color: #093149;

    --sidenav-size: 15rem;
}

/* Fix Arial spacing to match Lato */
@font-face { 
    font-family: 'Lato-Arial';
    src: local(Arial);
}

/* Fix Trebuchet spacing to match Source Sans Pro */
@font-face {
    font-family: "Trebuchet";
    src: local('Trebuchet MS');
    font-weight: 900 !important;
}   

* {
    margin: 0;
    font-family: 'Lato', 'Lato-Arial', sans-serif;
    scroll-behavior: smooth;
}

span {
    color: var(--secondary-color);
}

/* Sidebar navigation */
.sidenav {
    height: 100vh;
    width: var(--sidenav-size);
    position: fixed;
    background-color: var(--primary-color);

    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 1.2rem;
}

.sidenav > h1 {
    display: none;
}

.sidenav img {
    width: 50%;
    border-radius: 2rem;
    border: 5px solid var(--accent-color);
}

.sidenav > .nav-main {
    list-style: none;
    text-align: center;
    padding: 0;

    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    align-items: center;
}

.sidenav > .nav-main a {
    color: var(--accent-color);
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', 'Trebuchet', sans-serif;
    font-weight: 600;
}

.sidenav > .nav-main a:hover {
    color: var(--sidenav-link-hover-color);
}

.sidenav > .nav-main a.active {
    color: var(--sidenav-link-focus-color);
}

.sidenav > .nav-main li {
    display: inline;
    margin-bottom: 0.6rem;
}

.sidenav > a {
    display: none;
}

.sidenav .icon {
    fill: white;
}

/* Global Iconography */
.icon {
    width: 2em;
    height: 2em;
    vertical-align: -0.125em;
    padding: 10px;

    fill: var(--icon-color);
}

/* Content */
hr {
    border: 1px solid var(--section-break-color);
}

em {
    color: var(--primary-color);
    font-style: normal;
    font-weight: 700;
}

main>section {
    position: relative;
    margin-left: var(--sidenav-size);
    padding-left: 3rem;
    padding-right: 3rem;
    min-height: 100vh;
}

main > section > h1 {
    font-family: 'Source Sans Pro', 'Trebuchet', sans-serif;
    font-size: 3rem;
}

/* About */
section#about {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#about h1 {
    font-family: 'Noto Sans', 'Arial', sans-serif;
    font-size: 6rem;
    color: var(--section-name-color);
    margin-bottom: -1rem;
}

#about h2, #about h3 {
    font-family: 'Source Sans Pro', 'Trebuchet', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
}

/* Location and email in about */
#about .divide-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    margin-bottom: 2rem;
}

#about .divide-container::before {
    content: "•";
    font-size: 1.2rem;

    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

#about a, #about a:visited {
    text-decoration: none;
    color: var(--primary-color);
}

/* About text adjustments */
#about h2 {
    font-size: 1.5rem;
}

#about h3 {
    font-size: 1.2rem;
}

#about p {
    margin-bottom: 2.5rem;
    max-width: 120ch;
}

/* About Iconography */
.icon-container {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;

    margin-top: 1rem;
}

#about .icon {
    padding: 0px;
}

/* Size adjustment for mail icon */
.mail {
    width: 1.9rem;
}

/* Experience */
section#experience {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main > section > :first-child {
    padding-top: 3rem;
}

main > section > :last-child {
    padding-bottom: 3rem;
}

.experience-entry {
    display: grid;
    grid-template-areas: 
        "role duration"
        "company location"
        "description description";
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.experience-entry > .institution {
    grid-area: company;
    font-family: 'Source Sans Pro', 'Trebuchet', sans-serif;
    font-size: 1.3rem;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--primary-color);
}

.experience-entry > .role {
    grid-area: role;
    font-family: 'Source Sans Pro', 'Trebuchet', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}

.experience-entry > .duration {
    grid-area: duration;
    justify-self: right;
    margin-left: 5vw;
    color: var(--secondary-color);
    font-family: 'Jost', 'Arial', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
}

.experience-entry > .location {
    grid-area: location;
    justify-self: right;
    color: var(--secondary-color);
    font-family: 'Jost', 'Arial', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
}

.experience-entry > .description {
    grid-area: description;
    margin-top: 1rem;
}

.experience-entry li {
    margin-bottom: 0.5rem;
    max-width: 120ch;
}

.experience-entry li:last-child {
    margin-bottom: unset;
}

/* Education */
section#education {
    display: flex;
    flex-direction: column;

    justify-content: center;
    row-gap: 2rem;
}

.university {
    display: grid;
    align-items: center;
    grid-template-areas:
        "institution duration"
        "degree ."
        "description .";
}

.university .institution {
    grid-area: institution;
    font-family: 'Source Sans Pro', 'Trebuchet', sans-serif;
    font-size: 1.3rem;
    font-weight: 600;
    text-transform: uppercase;
}

.university .duration {
    grid-area: duration;

    font-family: 'Jost', 'Arial', sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--secondary-color);
}

.university > .role { 
    grid-area: degree;
    font-family: 'Source Sans Pro', 'Trebuchet', sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--primary-color);
}

.university > .description {
    grid-area: description;
}

#education .description {
    margin-top: 1rem;
}

#education li {
    margin-bottom: 0.5rem;
}

.description strong {
    font-weight: bold;
}

/* Projects */
section#projects {
    display: flex;
    flex-direction: column;

    justify-content: center;
    row-gap: 2rem;
}

.project {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.project .divide-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.divide-container *:first-child {
    order: -1;
}

.project .name {
    font-family: 'Source Sans Pro', 'Trebuchet', sans-serif;
    font-size: 1.3rem;
    font-weight: 600;
    text-transform: uppercase;
}

.project .short-description {
    color: var(--primary-color);
    font-family: 'Lato', 'Lato-Arial', sans-serif;
    font-size: 1.1rem;
}

.project li {
    margin-bottom: 0.5rem;
}

.project a {
    margin-top: 0rem;
    margin-bottom: 0rem;
}

.project .icon-container {
    display: flex;
}

/* Skills */
section#skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 1rem;
}

.skill-category h2 {
    font-family: 'Source Sans Pro', 'Trebuchet', sans-serif;
    font-size: 1.3rem;
    font-weight: 600;
    text-transform: uppercase;
}

.skill-category p {
    color: var(--section-name-color);
}

/* Switch to top navbar */
@media (max-width: 984px){

    .sidenav img, .sidenav picture {
        display: none;
    }

    .sidenav > h1 {
        display: block;

        color: white;
        text-decoration: none;
        font-family: 'Source Sans Pro', 'Trebuchet', sans-serif;
        font-weight: 600;

        margin-left: 3rem;
    }

    .sidenav {
        position: fixed;
        z-index:1;
        top: 0;

        height: 4rem;
        width: 100vw;
        
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .sidenav > .nav-main {
        flex-direction: row;
        margin-right: 3rem;
    }

    .sidenav > .nav-main > li {
        display: flex;
        align-items: center;
        margin-bottom: 0;
    }

    main>section {
        margin-left: 0;
        scroll-margin-top: 4rem;
        min-height: calc(100vh - 4rem);
    }

    main::before {
        content: "";
        display: block;
        height: 4rem;
    }
    
    section#education > :last-child, section#skills > :last-child {
        margin-bottom: 4rem;
    }
}

@media (max-width: 735px) {
    /* Switch to vertical experience layout for smaller screens */
    .experience-entry {
        grid-template-areas: 
            "role"
            "company"
            "description"
            "duration"
            "location";
    }

    .experience-entry .duration {
        justify-self: left;
        margin-left: 0;
        margin-top: 1rem;
    }
    
    .experience-entry .location {
        justify-self: left;
        margin-left: 0;
    }
}

@media (min-width: 650px) {
    /* Project name and description in the same line
    when screen wide enough */
    .project > .divide-container {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .project > .divide-container::before {
        content: "";
        height: 1.2rem;
        border: 1px solid var(--accent-color);
        align-self: center;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
}

/* Correct font size for smaller screens */
@media (max-width: 600px) {

    .sidenav {
        display: flex;
    }

    .sidenav > .nav-main{
        display: none;
    }

    .sidenav > a {
        display: block;
        margin-right: 3rem;
    }

    .sidenav > a > svg {
        padding: 0;
    }

    #about h1 {
        font-size: 4rem;
    }

    #about h2 {
        font-size: 1.2rem;
    }

    #about h3 {
        font-size: 1rem;
    }

    /* Reflow university sections to left-justified arrangement */
    .university {
        grid-template-areas:
            "institution institution institution"
            "degree spacer duration"
            "description description description";
        grid-template-columns: auto 0fr 1fr;
    }

    /* Style for dot spacer between degree and duration*/
    .university .duration::before {
        content: "•";

        font-family: 'Source Sans Pro', 'Trebuchet', sans-serif;
        font-size: 1.2rem;
        color: var(--section-name-color);

        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
}

/* Correct spacing for smaller screens */
@media (max-width: 430px) {
    #education li:last-child, #projects :last-child, .experience-entry{
        margin-bottom: 0rem;
    }

    /* Reflow university entries to vertical arrangement */
    .university {
        grid-template-areas:
            "institution"
            "degree"
            "duration"
            "description";
    }

    .university .duration::before {
        display: none;
    }
}

@media (max-width: 390px) {
    main>section {
        padding: 1rem;
        min-height: unset;
    }

    #about h1 {
        font-size: 3rem;
        margin-bottom: -0.5rem; 
    }

    .sidenav > h1 {
        margin-left: 1rem;
    }

    .sidenav > a {
        display: block;
        margin-right: 1rem;
    }

    #about .divide-container {
        flex-direction: column;
    }

    #about .divide-container::before {
        display: none;
    }
}